*{
margin: 0;
padding: 0;
}
.menu{
    background-color: green;
    
}
.active{
font-family: cursive;
border-radius: 2px;
border: 2px solid rgb(94, 60, 60);
background-color: rgb(115, 22, 158);
 }
 
.active:hover{
    color: #1883ba;
    background-color: #ffffff70;
  }

.menu img {
    background-color: black;
}

.bio{
    color: blue;
}

.navbar-collapse{
   flex-grow: 0;
    text-align: end;
}


.listMenu{
    display: flex;
    justify-content: end;
}

.colores{
    color: indigo;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carouselStyle{
height: 500px;

}
.per {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.estetica{
    color:white;

}
.bio{
    color: rgb(10, 97, 10);
    text-align: justify;
}

.bio strong{
    font-family: cursive;
}

.bio1{
    color: grey;
}
.lead strong{
font-family: cursive;
color: rgb(161, 24, 24);
}

.logo{
    width: 10;
    height: 10;
    border: 0;
}

.what{
    float:left;
    border-radius: 6px;
    border: blueviolet;
    font-weight:100;
}
.what1{

    color: black;
    
}
.final {
    color: black;
}